body {
    display: flex;
    flex-flow: column;
    margin: auto;
    background-color: #C3C4C8;
    color: black;
    text-align: center;
    overflow-x: scroll;
    font-family: Rock Salt;
}

header{
    letter-spacing: .8em;
    top: 0;
    font-size: 1.5em;
    color: whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 100%;
    height: 70px;
    background: url('mapTiles/expanse.png');
    background-size: 7%;
}



h1{
    margin-top: 5px;
}

footer{
    letter-spacing: .3em;
    width: 100%;
    height: 100px;
    background: whitesmoke;
    display: none;
}

main{
    font-family: Open Sans;
    display: flex;
    justify-content: space-evenly;
}

li {
    text-align: left;
    padding-right: 8px;
    margin: 8px 0px 8px 0px;
}

#links{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.row {
    white-space: nowrap;
    margin:auto;
}

.tile {
    max-width: 45px;
    max-height: 45px;
    display: inline;
    pointer-events: fill;
    border: black solid 1px;
    border-radius: 10px;
    background: white;
}

#selectedTileImg {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: thin black solid;
    border-radius: 10px;
}

#tileNotesEditor {
    margin-top: 10px;
    width: 80%;
    height: auto;
}

.tilediv {
    display: inline-block;
    margin:  -3px -1px -3px -1px;
    width: 45px;
    height: 45px;
}

.tiledropdown {
    position: relative;
    margin-left: -30px;
    width: 70%;
    opacity: 0;
}

.column {
    width: 300px;
    height: 800px;
    margin: 100px 15px 100px 15px;
    background: white;
    height: 50%;
    padding: 7px;
    overflow: scroll;
    border: 1px black solid;
    border-radius: 10px;
}

#map{
    display: inline-block;
    margin: 55px 50px 50px 50px;
    padding: 5px;
    overflow: scroll;
    border: black solid 1px;
    border-radius: 10px;
}

select.icon-menu option {
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
}

#saveTile {
    width: auto;
    background-color: #C3C4C8;
    font-size: 1.1em;
    padding: 7px;
    border: .5px solid black;
    border-radius: 5px;
    margin: 10px;
    display: block;
    margin: auto;
}

#saveTile:hover {
    background-color: gray;
    color: white;
}

/* 
Wishlist: 
    fix title in center of the header of page
    center map when page width is less than row width


*/